[submodule "modules/ds-test"]
	path = modules/ds-test
	url = https://github.com/dapphub/ds-test.git
[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "modules/custodial-ownership-token"]
	path = modules/custodial-ownership-token
	url = https://github.com/maple-labs/custodial-ownership-token.git
